@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
   Willkommen, bienvenue, welcome!
Fremde, etranger, stranger.
Gluklich zu sehen, je suis enchante,
Happy to see you, bleibe, reste, stay.
</p>
